<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="home-outline" class="header-icon"></ion-icon>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fade-in">
  <!-- Citação Inspiradora -->
  <app-quote-card [autoRefresh]="true" [refreshInterval]="30"></app-quote-card>

  <!-- Links Rápidos -->
  <ion-card class="quick-links-card">
    <ion-card-header>
      <ion-card-title>Acesso Rápido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let link of quickLinks">
            <ion-button
              [routerLink]="link.route"
              expand="block"
              fill="outline"
              [color]="link.color"
              class="quick-link-button">
              <ion-icon [name]="link.icon" slot="start"></ion-icon>
              {{ link.label }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
